*{
    margin: 0;
    font-family: 'Roboto';
}
body{
    background-image: url(images/Background.jpg);
    padding: 0 80px 0 80px;
}
a{
    text-decoration: none;
}
h1{
    font-weight: 400;
    background-color: black;
    color: white;
}
h2{
    color: white;
    font-weight: 400;
    font-size: 2em;
}

/* ===================== */
/* Header y Navbar       */
/* ===================== */

.navbar{
    display: flex;
    align-items: center;
    background-color: black;
    position: sticky;
    top: 0;
    z-index: 1;
}
header{
    position: sticky;
    top: 0;
    z-index: 1;
}
.redes{
    display: flex;
    margin-left: 40%;
    gap: 15px;
}
.redes img{
    height: 20px;
    width: 20px;
}
.redes img:hover{
    transform: scale(1.5);
}
.navbar a{
    text-decoration: none;
    color: gray;
}
.navbar a:hover{
    color: white;
}
.navbar li{
    list-style: none;
    font-weight: 500;
}
.navbar ul{
    display: flex;
    gap: 10%;
}
.logo{
    padding: 10px;
    width: 150px;
   height: 35px;
}

/* ===================== */
/* Banner y Video        */
/* ===================== */

.banner{
    display: grid;
    place-items: center;
    background-color: black;
}
.banner img{
    width: 100%;
}
.video{
    background-color: rgba(0, 0, 0, 0.459);
    display: grid;
    place-items: center;
}

/* ===================== */
/* Seccion de fechas     */
/* ===================== */

.fechas{
    display: flex;
    gap: 20px;
    border-width: 10px;
    border: solid;
    border-color: rgb(247, 95, 95);
    background-color: rgb(0, 0, 0);
    align-items: center;
}
.mapa{
    background-color: black;
    padding: 10px;
}
.dia{
    background-color: rgb(247, 95, 95);
    padding: 100px 10px 100px 10px;
    text-align: center;
    width: 60px;
    height: 100px;
    display: grid;
    place-items: center;
    font-weight: bold;
}
.titu{
    color: white;
    height: 300px;
    width: auto;
    background-color: rgba(255, 255, 255, 0.486);
    margin-left: 20px;
    display: grid;
    place-items: center;
    text-align: center;
    font-weight: bold;
}
.detalle{
    color: white;
    padding: 100px 10px 100px 10px;
    background-color: rgba(255, 255, 255, 0.486);
    text-align: center;
    height: 100px;
    font-weight: bold;
}

/* ====================== */
/* Seccion de bibliografia*/
/* ====================== */

#BIBLIOGRAFIA,#CONTACTO{
    background-color: rgb(247, 95, 95);
}
.contenido{
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    border-color: rgb(247, 95, 95);
    border-style: solid;
}
.foto img{
    width: 600px;
    height: auto;
    padding: 10px;
}
.texto h2{
    text-align: center;
    margin-right: 10px;
    background-color: rgb(247, 95, 95);
}
.texto strong{
    color:  rgb(247, 95, 95);
}

/* ===================== */
/* Seccion de discografia*/
/* ===================== */

#DISCOGRAFIA{
    background-color: black;
}
.con-discografia{
    background-color: rgba(0, 0, 0, 0.459);
    padding: 40px 0 40px 0;
}
.primero,.segundo{
    display: flex;
    gap: 20px;
    justify-content: center;
}
.primero img,.segundo img{
    height: 200px;
    width: auto;
    filter: grayscale(100%)blur(2px);
}
.primero img:hover,.segundo img:hover{
    transform: scale(1.1);
    filter: grayscale(0%);
    transition: filter 0.5s ease;
}

/* =================== */
/* Seccion de contactos*/
/* =================== */

.contactanos{
    background-color: rgb(247, 95, 95);
    border-radius: 5px 5px 0 0;
}
.contactos{
    height: 560px;
    width: auto;
    background-color: rgb(247, 95, 95);
    padding: 0 20px 20px 20px;
}
.con-contacto{
    background-color: black;
    display: grid;
    place-items: center;
    color: white;
    height: 100%;
}
.con-form{
    background-color: gray;
    border-radius: 5px;
    height: 90%;
    width: 60%;
    text-align: center;
}
input{
    background-color: black;
    border-radius: 5px;
    border: 0;
    color: white;
    font-family: 'Roboto';
    font-weight: 200;
    }
    label{
    font-family: 'Roboto';
    font-weight: 600;
    }
    input[name="nombre"],
    input[name="mail"],
    textarea {
      width: 60%;
      padding: 10px;
      margin-bottom: 15px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }
    input[name="mensaje"],
    textarea {
      height: 150px;
      width: 60%;
      padding: 10px;
      margin-bottom: 15px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }
    button {
        background-color: rgb(247, 95, 95);
        padding: 20px;
        color: white;
        padding: 10px 15px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
      }
      button:hover{
        transform: scale(1.1);
      }

/* ==================== */
/* Pagina de formularios*/
/* ==================== */

.cont-msj{
  display: block;
  margin: 10%;
  border-style: solid;
  border-color: rgb(247, 95, 95);
  border-radius: 10px;
}
.aceptar{
  text-decoration: none;
  display: block;
  text-align: center;
  color: white;
  font-weight: 400;
  font-size: 2em;
  background-color: rgb(247, 95, 95);
}
 .msj{
  text-align: center;
  padding: 30px;
  border-radius: 10px 10px 0 0;
 }

 .cont-msj a:hover{
  color: black;
 }


/* ==================================== */
/* Media query para dispositivos moviles*/
/* ==================================== */

@media (max-width: 600px) {
  html,body {
    padding: 0;
    overflow-x: hidden;
  }
  h2,h1{
    text-align: center;
  }
  .navbar {
    flex-direction: column;
    text-align: center;
  }

  .navbar ul {
    flex-direction: column;
    gap: 10px;
    padding: 0;
  }

  .redes {
    display: none;
    margin-left: 0;
  }

  .fechas {
    flex-direction: column;
    align-items: stretch;
    text-align: center;
  }
  .titu{
    margin: 0;
  }
  .dia{
    width: 100%;
    padding: 0;
  }
  .contenido {
    flex-direction: column;
  }
  .texto,h2{
    text-align: center;
  }
  .foto img {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .con-discografia {
  display: flex;
  justify-content: center;
}
  .primero,
  .segundo {
    flex-direction: column;
  }

  .video iframe {
    width: 100%;
    height: 400px;
  }

  .mapa iframe {
    width: 100%;
    height: 300px;
  }

  .con-form {
    width: 100%;
  }

  .banner img {
    display: none;
  }

  .contactos{
    padding: 0;
  }

}
