*{
    margin: 0;
    font-family: 'Roboto';
}
body{
    background-image: url(images/Background.jpg);
    padding: 0 80px 0 80px;
}
a{
    text-decoration: none;
}
.navbar{
    display: flex;
    align-items: center;
    background-color: black;
    width: 88.1%;
    position: fixed;
}
.redes{
    display: flex;
    margin-left: 460px;
    gap: 15px;
}
.redes img{
    height: 20px;
    width: 20px;
}
.redes img:hover{
    transform: scale(1.5);
}
.navbar a{
    text-decoration: none;
    color: gray;
}
.navbar a:hover{
    color: white;
}
.navbar li{
    list-style: none;
    font-weight: 500;
}
.navbar ul{
    display: flex;
    gap: 10%;
}
.logo{
    padding: 10px;
    width: 150px;
   height: 35px;
   
}
.banner{
    display: grid;
    place-items: center;
    background-color: black;
}
.banner img{
    width: 100%;
}
.video{
    background-color: rgba(0, 0, 0, 0.459);
    display: grid;
    place-items: center;
}
h1{
    font-weight: 400;
    background-color: black;
    color: white;
}
.fechas{
    display: flex;
    gap: 20px;
    border-width: 10px;
    border: solid;
    border-color: rgb(247, 95, 95);
    background-color: rgb(0, 0, 0);
    align-items: center;
}
.mapa{
    background-color: black;
    padding: 10px;
}
.dia{
    background-color: rgb(247, 95, 95);
    padding: 100px 10px 100px 10px;
    text-align: center;
    width: 60px;
    height: 100px;
    display: grid;
    place-items: center;
    font-weight: bold;
}
.titu{
    color: white;
    height: 300px;
    width: auto;
    background-color: rgba(255, 255, 255, 0.486);
    margin-left: 20px;
    display: grid;
    place-items: center;
    text-align: center;
    font-weight: bold;
}
.detalle{
    color: white;
    padding: 100px 10px 100px 10px;
    background-color: rgba(255, 255, 255, 0.486);
    text-align: center;
    height: 100px;
    font-weight: bold;
}
#BIBLIOGRAFIA{
    color: white;
    font-weight: 400;
    font-size: 2em;
    background-color: rgb(247, 95, 95);
}
.contenido{
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    border-color: rgb(247, 95, 95);
    border-style: solid;
}
.foto img{
    width: 600px;
    height: auto;
    padding: 10px;
}
.texto h2{
    text-align: center;
    margin-right: 10px;
    background-color: rgb(247, 95, 95);
}
.texto strong{
    color:  rgb(247, 95, 95);
}
#DISCOGRAFIA{
    color: white;
    font-weight: 400;
    font-size: 2em;
    background-color: black;
}
.con-discografia{
    background-color: rgba(0, 0, 0, 0.459);
    padding: 40px 0 40px 0;
}
.primero{
    display: flex;
    gap: 20px;
    justify-content: center;
}
.segundo{
    display: flex;
    gap: 20px;
    justify-content: center;
}
.primero img{
    height: 200px;
    width: auto;
    filter: grayscale(100%)blur(2px);
}
.segundo img{
    height: 200px;
    width: auto;
    filter: grayscale(100%)blur(2px);
}
.primero img:hover{
    transform: scale(1.1);
    filter: grayscale(0%);
    transition: filter 0.5s ease;
}
.segundo img:hover{
    transform: scale(1.1);
    filter: grayscale(0%);
    transition: filter 0.5s ease;
}
#CONTACTO{
    color: white;
    font-weight: 400;
    font-size: 2em;
    background-color: rgb(247, 95, 95);
}
.contactanos{
    color: white;
    font-weight: 400;
    font-size: 2em;
    background-color: rgb(247, 95, 95);
    border-radius: 5px 5px 0 0;
}
.contactos{
    height: 560px;
    width: auto;
    background-color: rgb(247, 95, 95);
    padding: 20px;
}
.con-contacto{
    background-color: black;
    display: grid;
    place-items: center;
    color: white;
    height: 100%;
}
.con-form{
    background-color: gray;
    border-radius: 5px;
    height: 90%;
    width: 60%;
    text-align: center;
}
input{
    background-color: black;
    border-radius: 5px;
    border: 0;
    color: white;
    font-family: 'Roboto';
    font-weight: 200;
    }
    label{
    font-family: 'Roboto';
    font-weight: 600;
    }
    input[name="nombre"],
    input[name="mail"],
    textarea {
      width: 60%;
      padding: 10px;
      margin-bottom: 15px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }
    input[name="mensaje"],
    textarea {
      height: 150px;
      width: 60%;
      padding: 10px;
      margin-bottom: 15px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }
    button {
        background-color: rgb(247, 95, 95);
        padding: 20px;
        color: white;
        padding: 10px 15px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
      }
      button:hover{
        transform: scale(1.1);
      }
